/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/



 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}
.padding_0{
    padding: 0px;
}
.padding_left_0{
    padding-left: 100px;
}
.header_section {
    width: 100%;
    float: left;
}
.header_bg{
  width: 100%;
  float: left;
  background-color: #f8f9fa!important;
}
.header_left{
    width: 50%;
    float: left;
}
.header_right{
    width: 50%;
    float: left; 
}
.banner_img{
    width: 100%;
    float: left; 
}

.logo {
    width: 25%;
    float: left;
}

.bg-light {
    background-color: transparent!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 18px;
    color: #2e2d2e;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #1b5a8d;
}
.banner_main{
    width: 100%;
    float: left;
    padding-left: 100px;
}
.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #2e2d2e;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #2e2d2e;
    margin-left: 0px;
}
.btn_main {
    width: 100%;
    float: left;
    padding-top: 75px;
}
.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    border: 2px solid #ff5a58;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.more_bt a:hover {
    color: #000;
    border: 2px solid #ff5a58;
}
.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}
.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #181818;
    border: 2px solid #4aafff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.contact_bt a:hover {
    color: #181818;
    border: 2px solid #ff5a58;
}





